* {
  margin: 0;
  padding: 0;
}

nav {
  padding: 20px;
}

.fa-bars {
  font-size: 25px;
}

#bn-designs {
  width: 140px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 40px;
}

#banner {
  height: 100vh;
  overflow: hidden;
}

#heading {
  font-family: "Halant", serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

#heading-align {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

#banner-heading {
  text-align: center;
  font-size: 30px;
  overflow: hidden;
}

.banner-background-div {
  position: absolute;
  right: 0;
  top: 100px;
  z-index: -1;
}

.banner-background-div img {
  width: 250px;
}

.projects-button {
  font-family: "Gudea", sans-serif;
  border-radius: 40px;
  border: none;
  background-color: #00c5ec;
  color: #fff;
  font-size: 20px;
  padding: 15px 25px;
  box-shadow: inset 0 -4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: 40px;
}

.mobile-landing-picture {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: end;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  height: 180px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.mobile-landing-picture-img {
  height: 100%;
}

/* SECTION 2 */
.bn-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 1;
}

.bn-heading img {
  width: 200px;
}

.grey-bar {
  position: absolute;
  top: 40%;
  left: 0;
  transform: translate(-50, -50);
  height: 20px;
  background-color: rgb(214, 214, 214);
  width: 100vw;
  z-index: -1;
}

.section2-paragraph {
  position: relative;
  margin: 50px 0;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gudea", sans-serif;
  font-size: 25px;
}

.inner-paragraph {
  width: 80%;
}

.inner-paragraph p {
  margin: 30px 0;
}

.paragraph-background-div {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.paragraph-background-div img {
  width: 180px;
}

.paragraph-background-info {
  position: absolute;
  left: 0;
  bottom: -40px;
  z-index: -1;
}

.paragraph-background-info-div img {
  width: 130px;
  opacity: 0.5;
}

.service-heading {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  z-index: 1;
  margin-bottom: 50px;
}

.service-heading h2 {
  font-size: 25px;
  font-family: Gudea, sans-serif;
  background-color: #fff;
  padding: 20px;
}

.section3-projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100vw;
}

.section3-projects #image1 {
  background-image: url("./Assets/slide1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80%;
  height: 200px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.section3-projects #image2 {
  background-image: url("./Assets/slide2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80%;
  height: 200px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

.section3-projects #image3 {
  background-image: url("./Assets/slide4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80%;
  height: 200px;
  overflow: hidden;
  border-radius: 40px;
  box-shadow: 5px 3px 10px 0px rgba(0, 0, 0, 0.3);
}

/* Tablets (portrait and landscape) */
@media only screen and (min-width: 768px) {
}

/* Laptops and Desktops */
@media only screen and (min-width: 1024px) {
}

/* Large screens */
@media only screen and (min-width: 1200px) {
}
