body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

.main {
  background: url("./Assets/background.jpg") no-repeat center center;
  background-size: cover;
}

.background {
  height: 100vh;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  grid-template-areas:
    "div1 div1"
    "div1 div1"
    "div3 div3";
}

.div1 {
  grid-area: div1;
  position: relative;
  height: 100%;
}
.div3 {
  grid-area: div3;
}

.div1::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

.navbar .logo {
  height: 60px;
  padding-left: 20px;
  padding-top: 10px;
  z-index: 1;
}

.navbar .icons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px;
  padding-right: 20px;
  z-index: 1;
}

.navbar .icons i {
  color: #fff;
}

.navbar .icons img {
  height: 30px;
}

.div1 #about {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 50%;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.div1 #about div {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 30px;
}

.banner-section1 {
  width: 50vw;
}

.banner-section1 h1 {
  background: linear-gradient(rgb(255, 0, 242), rgb(100, 0, 167));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

.banner-section2 {
  width: 50vw;
}

.image-wrapper {
  position: relative;
  display: inline-block;
  padding: 5px;
  background: transparent;
  overflow: visible;
}

#rotate-image-left {
  height: 300px;
  top: -200px;
  right: -300px;
  position: absolute;
  display: block;
  object-fit: cover;
  transform: rotate(-20deg);
  padding: 5px;
  background: transparent;
  box-shadow: inset 0 0 0 70px rgba(98, 0, 255, 0.5);
  box-sizing: border-box;
  z-index: 0;
}

#rotate-image-right {
  width: 300px;
  top: 50px;
  right: -300px;
  position: absolute;
  display: block;
  object-fit: cover;
  transform: rotate(20deg);
  padding: 5px;
  background: transparent;
  box-shadow: inset 0 0 0 70px rgba(255, 105, 180, 0.5);
  z-index: 0;
}

.div3 {
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.3),
    rgba(105, 37, 151, 0.1)
  );
  padding: 20px 30px;
  gap: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  z-index: 1;
}

.div3 #slide1 {
  position: relative;
  background: url("./Assets/slide1.png") no-repeat center center;
  background-size: cover;
  height: 90%;
  width: 23%;
  border: 5px solid #fff;
  border-radius: 10px;
}

.div3 #slide2 {
  position: relative;
  background: url("./Assets/slide2.png") no-repeat center center;
  background-size: cover;
  height: 90%;
  width: 23%;
  border: 5px solid #fff;
  border-radius: 10px;
}

.div3 #slide3 {
  position: relative;
  background: url("./Assets/slide3.png") no-repeat center center;
  background-size: cover;
  height: 90%;
  width: 23%;
  border: 5px solid #fff;
  border-radius: 10px;
}

.div3 #slide4 {
  position: relative;
  background: url("./Assets/slide4.png") no-repeat center center;
  background-size: cover;
  height: 90%;
  width: 23%;
  border: 5px solid #fff;
  border-radius: 10px;
}

.div3 #slide1 .slide-num {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.div3 #slide2 .slide-num {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.div3 #slide3 .slide-num {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  text-align: center;
  color: #000;
}

.div3 #slide4 .slide-num {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 20px;
  text-align: center;
  color: #000;
}
